<html> 
	<head> 
		<meta charset="utf-8">
		<title> login </title>
		<link rel="stylesheet" href="../_css/stylelogin1.css">

	</head>
	<body>
		<div id ="menu">
			<ul>
			<li class="lg"><a href="formulario.html">cadastro</a></li>  </ul>
		</div>
		
		<form class="box" action="index.html" method="post">
			<center> <h1> login </h1> <center>
			<input type="text" name="" placeholder="Username">
			<input type="Password" name="" placeholder="Password">
			<input type="submit" name="" value="login">

		</form>

	<body>





</html>